{{#unless hideNavBar}}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/vendas">Vendas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clientes">Clientes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cadastro
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/produtos">Cadastrar Produto</a></li>
            <li><a class="dropdown-item" href="/clientes/cadastro">Cadastrar Clientes</a></li>
            <li><a class="dropdown-item" href="/usuarios">Cadastrar Usuarios</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/produtos/entrada">Entradas</a>
        </li>
      </ul>
      <form class="ms-auto d-flex">
        <a href="/vendas/nova"><button class="btn btn-outline-primary" type="button">Nova Venda</button></a>
      </form>
    </div>
  </div>
</nav>
{{/unless}}
