<div style="position: relative;">
  <h1>Página home</h1>
  <div class="position-fixed" style="bottom: 150px; right: 450px; z-index: 10000;">
    <a href="/vendas/nova"><button class="btn btn-primary" style="padding: 15px 20px;">Nova Venda</button></a>
  </div>
</div>