<table class="table">
  <thead>
    <tr>
      <th scope="col">Pedido</th>
      <th scope="col">Cliente</th>
      <th scope="col">Valor Total</th>
      <th scope="col">Pagamento</th>
      <th scope="col">Data</th>
      <th scope="col">Status</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <th scope="row">1</th>
      <td>Ryan</td>
      <td>R$ 250</td>
      <td>Cartão de Credito</td>
      <td>22/05/2023</td>
      <td>Rastreio Pendente</td>
      <td><button type="button" class="btn btn-outline-info btn-sm">Consultar</button></td>
    </tr>
  </tbody>
</table>